.textcenter {
  text-align: center;
}

.NPRUCS66_schedule {
  color: white;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.s43,.s44 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

td {
  text-align: center;
}

.table_schedule {
  margin-top: 30px;
  width: 950px;
  border: 2px solid rgb(255, 0, 0);
  border-collapse: collapse;
  position: relative;
}

/* .head_detail {
  position: absolute;
} */

.NPRUCS66_schedule-description1 {
  font-size: 20px;
}
.NPRUCS66_schedule-description2 {
  font-size: 20px;
  text-align: end;
}

.NPRUCS66_schedule-heading {
  .NPRUCS66_schedule_box {
    display: flex;
    flex-direction: row;
  }
}

.head_space {
  width: 150px;
}
.head_spaceday {
  width: 250px;
}

.monday{
  background-color: rgba(255, 201, 31, 0.5);
}

.tuesday{
  background-color: rgba(255, 102, 255, 0.5);
}

.wednesday{
  background-color: rgba(0, 255, 0, 0.500);
}

.thursday{
  background-color: rgba(255, 127, 0, 0.5);
}

.friday{
  background-color: rgba(126, 190, 255, 0.5);
}

.Space{
  background-color: rgba(0, 0, 0, 0.500);
}

.th_schedule, .td_schedule {
  margin-top: 30px;
  padding: 5px;
  font-size: 18px;
  border: 2px solid rgb(255, 0, 0);
}

.Cut {
  font-size: 31px;
}

@media screen and (max-width: 1000px){
  .table_schedule {
    margin-top: 20px;
    width: 750px;
  }
  .th_schedule, .td_schedule {
    font-size: 15px;
  }
  .NPRUCS66_schedule-description1 {
    font-size: 16px;
  }
  .NPRUCS66_schedule-description2 {
    font-size: 16px;
    text-align: end;
  }
  .Cut {
    font-size: 24px;
  }
}

@media screen and (max-width: 777px){
  .table_schedule {
    width: 550px;
  }
  .th_schedule, .td_schedule {
    font-size: 11px;
  }
  .NPRUCS66_schedule-description1 {
    font-size: 12px;
  }
  .NPRUCS66_schedule-description2 {
    font-size: 12px;
  }
  .Cut {
    font-size: 18px;
  }
  .s43,.s44 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px){
  .table_schedule {
    width: 400px;
  }
  .th_schedule, .td_schedule {
    font-size: 8px;
  }
  .NPRUCS66_schedule-description1 {
    font-size: 9px;
  }
  .NPRUCS66_schedule-description2 {
    font-size: 9px;
  }
  .Cut {
    font-size: 14px;
  }
  .s43,.s44 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}

@media screen and (max-width: 600px){
  .table_schedule {
    width: 400px;
  }
  .th_schedule, .td_schedule {
    font-size: 8px;
  }
  .NPRUCS66_schedule-description1 {
    font-size: 9px;
  }
  .NPRUCS66_schedule-description2 {
    font-size: 9px;
  }
  .Cut {
    font-size: 14px;
  }
  .s43,.s44 {
    margin-bottom: 20px;
    font-size: 20px;
  }
}