/* universal */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
    /* background-color: rgb(48, 48, 48); */
}

a {
    color: unset;
    text-decoration: none;
}

.wip {
    opacity: 0.1;
}

.width100 {
    width: 100%;
}

.navbar_bg {
    background: black;
}

.text_center {
    text-align: center;
}
.gradient_bg {
    background: linear-gradient(90deg, rgb(46, 0, 0) 0%, rgb(253, 12, 12) 100%);
}

.gradient_text {
    background: var(--gradient-text);
    background-clip: text;
    /* ทำให้สีปกติหาย*/
    -webkit-background-clop: text;
    -webkit-text-fill-color: transparent;
}

.section_padding {
    padding: 4rem 6rem;
}

.section_margin {
    margin: 4rem 6rem;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes scale-up-center {
    0% {
              transform: scale(0.5);
    }
    100% {
              transform: scale(1);
    }
  }
@keyframes scale-up-center {
    0% {
              transform: scale(0.5);
    }
    100% {
              transform: scale(1);
    }
  }

@media screen and (max-width: 700px){
    .section_padding {
        padding: 4rem;
    }
    .section_margin {
        margin: 4rem;
    }
}
@media screen and (max-width: 550px){
    .section_padding {
        padding: 2rem;
    }
    .section_margin {
        margin: 2rem;
    }
}

/* contact only */