.NPRUCS66_blog-container_article {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background: rgb(151, 0, 0);
}

.NPRUCS66_blog-container_article-image {
  width: 100%;
  height: 100%;
  background: rgb(114, 0, 0);
}

.NPRUCS66_blog-container_article-image img {
  width: 100%;
  height: 100%;
}

.NPRUCS66_blog-container_article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1.5rem;
  height: 100%;
}

.NPRUCS66_blog-container_article-content p {
  font-weight: bold;
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  color: #FFFFFF;
}

.NPRUCS66_blog-container_article-content h4 {
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;

  margin-bottom: 5rem;
  cursor: pointer;
}

.NPRUCS66_blog-container_article-content p:last-child {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .NPRUCS66_blog-container_article-content h4 {
    font-size: 16px;
    line-height: 20px;
  }
}