.NPRUCS66_experiment-description {
  width: 100%;
  text-align: center;
  color: rgb(255, 123, 123);
  margin-bottom: 2rem;
}



.Linkstest {
  color: white;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  margin: 0.2rem;
  transition: 0.1s;
  max-height: 44px;
}

.clickTest {
  color: rgb(255, 255, 255);
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  text-align: center;
}

.box {
  display: flex;
  justify-content: center;
}

.NPRUCS66_experiment-container_group {
  display: flex;
  justify-content: space-evenly;
}

.NPRUCS66_experiment-container_groupv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 550px) {

}