@font-face {
    font-family: DFPOPCorn-W7;
    src: url(./assets/fonts/DFPOPCorn-W7.ttf);
}

@font-face {
    font-family: Prompt-Medium;
    src: url(./assets/fonts/Prompt-Medium.ttf);
}

* {
    font-family: DFPOPCorn-W7,Prompt-Medium;
}