.NPRUCS66_header {
  display: flex;
}

.NPRUCS66_header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* margin-right: 3rem; */
  margin-left: 5rem;
}

.NPRUCS66_header-content h1 {
  font-weight: 800;
  font-size: 44px;
  line-height: 75px;
  letter-spacing: -0.04rem;
}

.NPRUCS66_header-content p {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 27px;
  color: var(--color-text);

  margin-top: 1.5rem;
}



.NPRUCS66_header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .NPRUCS66_header-image img {
  width: 300px;
  height: 300px;
} */

.NPRUCS66_header-image {
  position: relative;
  width: 300px;
  height: 300px;
}

.NPRUCS66_header-image img{
  position: absolute;
  width: 300px;
  height: 300px;
  transition: 0.1s;
}

.NPRUCS66_header-image img.idle:hover{
  opacity: 0;
  cursor: pointer;
}

/* ------------------------------ */

@media screen and (max-width: 1100px) {
  .NPRUCS66_header-image img {
    width: 300px;
    height: 300px;
    margin-right: 220px;
  }
}

@media screen and (max-width: 1050px) {
  .NPRUCS66_header {
    flex-direction: row;
  }
  /* .NPRUCS66_header-content {
    margin: 0 0 3rem;
  } */
  
  .NPRUCS66_header-content {
    /* flex: none;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
    margin-right: 3rem;
    margin-left: 3rem;
  }
  .NPRUCS66_header h1 {
    flex-direction: column;
    font-size: 40px;
    line-height: 50px;
  }
  .NPRUCS66_header p {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px;
  }
  /* .NPRUCS66_header-image img {
    display: none;
  } */
}

/* @media screen and (max-width: 750px) {
  .NPRUCS66_header h1 {
    flex-direction: column;
    font-size: 32px;
    line-height: 40px;
  }
  .NPRUCS66_header p {
    flex-direction: column;
    font-size: 20px;
    line-height: 20px;
  }
} */

@media screen and (max-width: 1000px) {
  .NPRUCS66_header-image img {
    display: none;
  }
  .NPRUCS66_header {
    flex-direction: column;
    padding: 2rem 0 2rem 0;
  }
  .NPRUCS66_header h1 {
    flex-direction: column;
    font-size: 40px;
    line-height: 50px;
  }
  .NPRUCS66_header p {
    flex-direction: column;
    font-size: 24px;
    line-height: 24px;
  }
  .NPRUCS66_header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .NPRUCS66_header-image img {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .NPRUCS66_header h1 {
    flex-direction: column;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
  }
  .NPRUCS66_header p {
    flex-direction: column;
    font-size: 18px;
    line-height: 18px;
    text-align: center;
  }
  .NPRUCS66_header {
    flex-direction: column;
    padding: 1rem 0 1rem 0;
    text-align: center;
  }
}